body {
    background-image: url('../A_black_image.jpg.webp');
    background-size: cover;
    margin: 0%;
    color: rgb(52, 196, 52);
    text-align: center;

}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    text-align: center;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(52, 196, 52);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.registerForm {
    text-align: center;
    margin-left: 42%;
    margin-right: 42%;
    padding-top: 23%;
    color: rgb(52, 196, 52);

}
.username ,.password, .email,.submitB{
    color: rgb(52, 196, 52);
    text-align: center;
}
